<%= form_for @user, :html => {:class => "form-horizontal center"} do |f| %>

      <%= render partial: 'shared/errors' , object: @var = @user%>

      <div class="form-group">
        <%= f.label :fname, "First name:", class: "col-md-4 control-label" %>
        <div class="col-md-8 required">
          <%= f.text_field :fname, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :lname, "Last name:", class: "col-md-4 control-label" %>
        <div class="col-md-8 required">
          <%= f.text_field :lname, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :email, "Email:", class: "col-md-4 control-label" %>
        <div class="col-md-8 required">
          <%= f.text_field :email, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :phone, "Phone:", class: "col-md-4 control-label" %>
        <div class="col-md-8 required">
          <%= f.text_field :phone, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :address, "Address:", class: "col-md-4 control-label" %>
        <div class="col-md-8 required">
          <%= f.text_field :address, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-8 required">
          <select name="user[state]" id="user_state">
          <% CS.states(:us).each do |key, value| %>
              <option value="<%= key %>"><%= value %></option>
          <% end %>
          </select>
          </div>
      </div>

      <div class="form-group">
        <div class="col-md-8 required">
          <select name="user[city]" id="user_city">
          </select>
        </div>
      </div>


      <div class="form-group">
        <%= f.label :password, "Password:", class: "col-md-4 control-label" %>
        <div class="col-md-8 required">
          <%= f.text_field :password, class: "form-control" %>
        </div>
      </div>
      
      <div class="form-group">
          <div class="col-md-8 required">
            <%= f.submit "Submit", class: "btn btn-default btn-primary" %> 
          </div> 
      </div>
 <% end %>


 <script>
  let stateInput = document.getElementById("user_state");
  let cityInput = document.getElementById("user_city");
  stateInput.addEventListener("change", function () {
    cityInput.innerHTML = ""
    fetch('/cities/' + stateInput.value)
    .then(response => response.json())
    .then(cities => {
        cities.forEach(city =>{ 
              let option = document.createElement("option");
              option.text = city;
              option.value = city;
              cityInput.appendChild(option);
        });
      });
  });
</script>
