
<%= month_calendar(events: @events) do |date,events| %>
    <h6 class="alert alert-secondary">
        <%= date %>
    </h6>
    <% events.each do |event| %>
        <%= link_to edit_book_registration_path(event.book.id,event.id) do %>
            <h6><%= name_format2(event.user) %> has </h6>
            <h6><%= event.book.name %></h6>
        <% end %>
    <% end %>
<% end %>

