<h1>Renting <%= @book.name%> at what time</h1>
<%= form_for([@book,@registration]) do |f| %>
    <%= render partial: 'shared/errors' , object: @var = @registration%>
    <p>
        <%= f.label :check_in %><br/>
        <%= f.datetime_select(:check_in)%>
    </p>
    <p>
        <%= f.label :check_out %><br/>
        <%= f.datetime_select(:check_out)%>
    </p>
    <% if make_user_admin %>
        <% unless @registration.is_checked_out %>
            <div class="field">
                <h3>Did user return the book</h3>
                <%= f.label :is_checked_out, "Yes", :value => true  %>
                <%= f.radio_button :is_checked_out, true %>
                <%= f.label :is_checked_out, "No", :value => false %>
                <%= f.radio_button :is_checked_out, false, :checked => true %>
            </div>
        <% end %>
        <% unless @registration.is_checked_in %>
            <div class="field">
                <h3>Did user take the book</h3>
                <%= f.label :is_checked_in, "Yes", :value => true  %>
                <%= f.radio_button :is_checked_in, true %>
                <%= f.label :is_checked_in, "No", :value => false %>
                <%= f.radio_button :is_checked_in, false, :checked => true %>
            </div>
        <% end %>
    <% end %>
    <p>
        <%= f.button "Submit" %>
    </p>

<% end %>