<h1>Renting <%= @book.name%> at what time</h1>
<%= form_for([@book,@registration]) do |f| %>
<p>
    <%= f.label :check_in %><br/>
    <%= f.datetime_local_field :check_in %>
</p>
<p>
    <%= f.label :check_out %><br/>
    <%= f.datetime_local_field :check_out %>
</p>
<% if make_user_admin %>
    <% unless @registration.is_checked_out %>
        <div class="field">
            <p>Did user return the book</p>
            <%= f.label :is_checked_out, "Yes", :value => true  %>
            <%= f.radio_button :is_checked_out, true %>
            <%= f.label :is_checked_out, "No", :value => false %>
            <%= f.radio_button :is_checked_out, false, :checked => true %>
        </div>
    <% end %>
    <% unless @registration.is_checked_in %>
        <div class="field">
            <p>Did user take the book</p>
            <%= f.label :is_checked_in, "Yes", :value => true  %>
            <%= f.radio_button :is_checked_in, true %>
            <%= f.label :is_checked_in, "No", :value => false %>
            <%= f.radio_button :is_checked_in, false, :checked => true %>
        </div>
    <% end %>

<% end %>
<p>
    <%= f.button "Submit" %>
</p>

<% end %>