<h5>Search by date</h5>
<%= form_tag(by_date_path,  remote: true) do %>
  <p>
    <%= label_tag :starts, "check-in:", class: "col-md-4 control-label" %><br/>
    <%= datetime_local_field_tag :starts%>
  <p>
    <%= label_tag :ends, "check-in:", class: "col-md-4 control-label" %><br/>
    <%= datetime_local_field_tag :ends %>
  </p>
  <p>
    <%= button_tag "Search",remote: true%>
  </p>
<% end %>

<h5>Available any time</h5>
<table class=" table table-striped sortable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Author name</th>
      <th>ISBN</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @books %>
  </tbody>
</table>

<h5>Available from
  <span id="startsTime" class="badge badge-secondary">
    <%= @starts.to_s(:long) %>
  </span> 
to  
  <span id="endsTime" class="badge badge-secondary">
    <%= @ends.to_s(:long)%>
  </span> 
</h5>

<table class=" table table-striped sortable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Author name</th>
      <th>ISBN</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody id= "booksByDate">
    <%= render @books_by_date %>
  <tbody>
</table>

